
.citacao {
    margin: 1.5rem 0;
    text-align: center;
}

.citacao__texto {
    background-color: #4682B4;
    color: white;
    font-size: 17px;
    font-family: 'Averia Libre';
    margin: 0 10rem;
    padding: .5rem 3.5rem;
    border: 1px solid #4682B4;
    border-radius: 80px;
}
